1. What are data structures, and why are they important?
       Ans: Data structures are special ways of organizing and storing data in a computer so that it can be used efficiently.
       Why Important:
        1.Efficient Data Access
        2.Better Performance
        3.Solve Real Problems
        4.Foundation of Algorithms

2. Explain the difference between mutable and immutable data types with examples?
       Ans:
       Mutable = Can change
       Immutable = Can’t change

In [ ]:
x = [1, 2, 3]
x[0] = 100
print(x) #Mutable

[100, 2, 3]

In [ ]:
name = "hello"
name[0] = "H" #Immutable

TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
    
    Ans:
    ![Screenshot 2025-05-12 170538.png]()

4.  Describe how dictionaries store data?
    
    Ans:
    A dictionary in Python stores data as key–value pairs — like a real dictionary where a word (key) maps to a meaning (value).
    student = {"name": "Alice", "age": 20, "grade": "A"}

5. Why might you use a set instead of a list in Python?

  Ans:
  In case
  1. Unique values are required in case data has duplicate values
  2. No need to care about order of data
  3. Checking if something is in a set is much faster than in a list

6. What is a string in Python, and how is it different from a list?

   Ans:
   A string is a sequence of characters inside quotes.
   name = "Alice"
   It can include letters, numbers, spaces, and symbols.
   Written with single ' ' or double " " quotes.

   
![image.png]()

7. How do tuples ensure data integrity in Python?

  Ans:Tuples are immutable - can't be changed.

8. What is a hash table, and how does it relate to dictionaries in Python?

   Ans:
   A hash table is a data structure that stores data in a way that allows for fast access using a key.
   It uses a hash function to convert the key into an index (or location) in an array.
   This allows for quick lookups, insertions, and deletions.
   
   In Python, dictionaries are implemented using hash tables.
   When you use a dictionary, Python automatically uses a hash table to store the key-value pairs.
   The key is hashed to a unique location in memory, making access fast.

9. Can lists contain different data types in Python?

   Ans:
   Yes, list can contain different data types in Python.

10. Explain why strings are immutable in Python?
  
   Ans: Strings are immutable in Python to make your code safer, more memory-efficient, and to allow strings to be used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?

    Ans:
    1.Dictionaries use keys to access data instantly (like a phonebook).
      contacts = {"Alice": 123, "Bob": 456}
      print(contacts["Bob"])

    2.In a dictionary, keys make data easier to understand.
      student = {"name": "Tom", "grade": "A"}

    3.In a list, it's harder to tell what each item means
      student = ["Tom", "A"]
      
    4.Dictionary keys are unique, which helps avoid mistakes.

12.  Describe a scenario where using a tuple would be preferable over a list?

   Ans:
   Use a tuple when you want data that should not change.
   dob = (2000, 5, 12)
   Since someone’s birthdate never changes, a tuple is perfect — it keeps the data safe and fixed.

13. How do sets handle duplicate values in Python?

  Ans:
  Sets automatically remove duplicates.
  We cannot have the same value twice in a set — Python keeps only unique items.

14. How does the “in” keyword work differently for lists and dictionaries?

   Ans:
   'in' checks if a value is in the list.
   
   'in' checks if a key exists — not the value.

15. Can you modify the elements of a tuple? Explain why or why not?

   Ans:
   Tuples are immutable, so, can't be changed.

   Why:
   
   Safety - Data won't accidentally change

   Faster - Python can optimize immutable objects

   Hashable - Tuples can be used as keys in dictionaries (lists can't)

16. What is a nested dictionary, and give an example of its use case?

      Ans: A nested dictionary is a dictionary inside another dictionary.

In [ ]:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"},
}
print(students["Alice"]["grade"])

A

17. Describe the time complexity of accessing elements in a dictionary?

   Ans; In Python, accessing an element by key in a dictionary has:

       Average Time Complexity:

       This means it's very fast — Python uses a hash table behind the scenes.

       No matter how large the dictionary is, lookup time stays nearly the same.

18.  In what situations are lists preferred over dictionaries?

    Ans:
    1. When order matters.
    2. We are in need to store duplicate items
    3. Simple indexing, not key-value based

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

   Ans: Dictionaries in Python are implemented using hash tables, and the order of insertion was not part of the key-value pair's storage.
   However, since Python 3.7, dictionaries preserve insertion order, but they are still considered unordered because you access values based on keys, not positions.

   How Does This Affect Data Retrieval?

   1. Access by Key, not by Order
   2. Order Preservation (from Python 3.7+)

20.  Explain the difference between a list and a dictionary in terms of data retrieval?

    Ans:

    ![image.png]()

Practical Questions:

In [ ]:
#1.Write a code to create a string with your name and print it?
name='Gajendra'
print(name)

Gajendra

In [ ]:
#2.Write a code to find the length of the string "Hello World"?
str='Hello World'
len(str)

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"?
str='Python Programming'
str[0:3]

'Pyt'

In [ ]:
#4 Write a code to convert the string "hello" to uppercase?
str="hello"
str.upper()

'HELLO'

In [ ]:
5# Write a code to replace the word "apple" with "orange" in the string "I like apple"?
str='I like apple'
str.replace('apple','orange')

'I like orange'

In [ ]:
6# Write a code to create a list with numbers 1 to 5 and print it.
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [ ]:
7# Write a code to append the number 10 to the list [1, 2, 3, 4]?
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [ ]:
8# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [ ]:
9# Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
l=['a','b','c','d']
l[1]

'b'

In [ ]:
10# Write a code to reverse the list [10, 20, 30, 40, 50].
l=[10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [ ]:
11# Write a code to create a tuple with the elements 100, 200, 300 and print it
t=(100,200,300)
print(t)

(100, 200, 300)

In [ ]:
12# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t=('red', 'green', 'blue', 'yellow')
t[1:]

('green', 'blue', 'yellow')

In [ ]:
13# Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
t=(10, 20, 5, 15)
min(t)

5

In [ ]:
14# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
t=('dog', 'cat', 'rabbit')
t.index('cat')

1

In [ ]:
15# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t=('Kiwi','apple','Mango')
"Kiwi" in t

True

In [126]:
16# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set11={'a','b','c'}
print(set11)

{'b', 'a', 'c'}

In [127]:
17# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s10={1,2,3,4,5}
s10.clear()
print(s10)

set()

In [ ]:
18# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set12={1,2,3,4}
set12.remove(4)
print(set12)

{1, 2, 3}

In [ ]:
19#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
set1|set2

{1, 2, 3, 4, 5}

In [ ]:
20# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
set1&set2

{2, 3}

In [ ]:
21# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict_1={'Name': 'Gajendra','Age': 30,'City': 'Noida'}
print(dict_1)

{'Name': 'Gajendra', 'Age': 30, 'City': 'Noida'}

In [ ]:
22#  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict_1={'name':'John','age':25}
dict_1['country']='USA'
print(dict_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
23#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict_1={'name': 'Alice', 'age': 30}
dict_1['name']

'Alice'

In [ ]:
24# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict_1={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_1.pop('age')
print(dict_1)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
25# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict_1={'name': 'Alice', 'city': 'Paris'}
'city' in dict_1

True

In [ ]:
26# Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3]
tuple=(1,2,3)
dict_1={'name': 'Alice', 'city': 'Paris'}
print('1.Below is a list:\n',list)
print('2.Below is a tuple:\n',tuple)
print('3.Below is a dictionary:\n',dict_1)

1.Below is a list:
 [1, 2, 3]
2.Below is a tuple:
 (1, 2, 3)
3.Below is a dictionary:
 {'name': 'Alice', 'city': 'Paris'}

In [ ]:
27#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
l=[99,1,3,6,8,]
l.sort()
print(l)

[1, 3, 6, 8, 99]

In [ ]:
28# Write a code to create a list with strings and print the element at the third index
fruits = ["apple", "banana", "cherry", "mango", "orange"]
print('Item at third index: ',fruits[3])

Item at third index:  mango

In [ ]:
29#  Write a code to combine two dictionaries into one and print the result.
dict1={'name': 'Bob', 'age': 22}
dict2={'city': 'New York','country': 'USA'}
dict3=dict1|dict2
print(dict3)

{'name': 'Bob', 'age': 22, 'city': 'New York', 'country': 'USA'}

In [131]:
30#  Write a code to convert a list of strings into a set.
my_list = ['Mango', 'Orange', 'Apple']
a_set = set(my_list)
print(a_set)

{'Orange', 'Apple', 'Mango'}